body{
    background-color: #EEEEEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32.68px;
    text-align: left;
    margin: 0px;
}
div.navbar{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #020331;
}
div.navbar img{
    position: relative;
    height: 100%;
    width: 100px;
    padding-left: 50px;
}
div.conteinerlogin{
    position: relative;
    width: 100%;
    height: 83%;
    background-color: #D7D7D7;
    text-align: center;
}
input.botao{
    position: relative;
    height: 50px;
    width: 150px;
    background-color: #020331;
    color: #FFFFFF;
    border: 0px;
    border-radius: 2px;
}
input{
    position: relative;
    width: 70%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
}
p.bold{
    position: relative;
    font-weight: 600;
}
p.golden{
    position: relative;
    font-weight: 600;
    color: #8B7300;
    top:-30px;
}
img.logo{
    position: relative;
    height: 700px;
    width: 600px;
}
table{
    position: relative;
    width: 100%;
    text-align: center
}
