body{
    background-color: #EEEEEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32.68px;
    text-align: left;
    margin: 0px;
}
div.navbar{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #020331;
}
div.navbar img{
    position: relative;
    height: 100%;
    width: 100px;
    padding-left: 50px;
}
table{
    position: relative;
    top:30px;
    left: 10%;
    text-align: center;
    width: fit-content;
    background-color: #DEDEDE;
}
div.tablescroll{
    text-align: center;
    top: 30px;
    overflow-y: scroll;
    position: relative;
    max-height: 760px;
    min-height: 760px;
    width: 43%;
    background-color: #DEDEDE;
    left: 29%;
}
tr{
    position: relative;
    margin-bottom: 5px;
}
h1{
    color: #020331;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-align: center;
}
input{
    position: relative;
    width: 60%;
    height: 30px;
    border: 1px solid #4F4F4F;
    border-radius: 3px;
}
input.btn{
    background-color: #020331;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    height: 40px;
    width: 20%;
}
div.bold{
    font-weight: bold;
}
button{
    position: relative;
    top: -45%;
    left: 40px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}
a.desloga{
    position: relative;
    top: -45%;
    right: 40px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}
table.inscricao {
    position: relative;
    width: 80%;
    border: 1px solid;
    border-radius: 10px; 
    text-align: center;
    border-collapse: collapse; 
    overflow: hidden; 
}

table.inscricao tr {
    border-bottom: 1px solid black;
}
table.inscricao td {
    border: 1px solid black;
    font-weight: 400;
}
table.inscricao tr:nth-child(odd) {
    background-color: #d3d3d3; /* Cor das linhas ímpares */
}

table.inscricao tr:nth-child(even) {
    background-color: #e9e9e9; /* Cor das linhas pares */
}
table.inscricao th {
    background-color: #020331;
    color: white;
    border: 1px solid white;
}

button.mais{
    top: auto;
    left: auto;
    position: relative;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}
div.modal{
    position: relative;
    background:white; 
    margin:15% auto; 
    padding:20px;
    width: fit-content;
    max-height: 75%;
    border: solid 30px #020331;
    border-radius: 10px;
    top: -25%;
    overflow-y: scroll;
}
div.filtro{
    position: relative;
    text-align: center;
    width: 30%;
    background-color: #020331;
    color: white;
    border-radius: 5px;
    padding-left: 3px;
    left: 35%;
}
input.filtro{
    position: relative;
    border: #020331 4px solid;
    width: 50%;
    height: 40px;
}
select.temporada{
    position: relative;
    width: 40%; 
    height: 50px;
    border: #020331 4px solid;
}
input.enviatemp{
    position: relative;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}
table.formulariomodal{
    position: relative;
    border: #020331 3px solid;
    border-collapse: separate;
    background-color: #e9e9e9;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
}
table.formulariomodal td{
    position: relative;
    padding: 10px;
    border: 1px #020331 solid;
    background-color: white;
    width: fit-content;
}
table.organizaFormularioModal{
    background-color: white;
    position: relative;
    left: 0;
    width: 100%;
}
button.novainsc{
    position: relative;
    text-align: center;
    top: auto;
    left: 43%;
    height: 60px;
    width: 250px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}
img.perfil{
    width: 140px;
    height: 160px;
}