body{
    background-color: #EEEEEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32.68px;
    text-align: left;
    margin: 0px;
}
div.navbar{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #020331;
}
div.navbar img{
    position: relative;
    height: 100%;
    width: 100px;
    padding-left: 50px;
}
table{
    position: relative;
    top:30px;
    left: 10%;
    text-align: center;
    width: fit-content;
    background-color: #DEDEDE;
}
div.tablescroll{
    text-align: center;
    top: 30px;
    overflow-y: scroll;
    position: relative;
    max-height: 760px;
    min-height: 760px;
    width: 43%;
    background-color: #DEDEDE;
    left: 29%;
}
tr{
    position: relative;
    margin-bottom: 5px;
}
h1{
    color: #020331;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-align: center;
}
input{
    position: relative;
    width: 60%;
    height: 30px;
    border: 1px solid #4F4F4F;
    border-radius: 3px;
}
input.btn{
    background-color: #020331;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    height: 40px;
    width: 20%;
}
div.bold{
    font-weight: bold;
}
button{
    position: relative;
    top: -45%;
    left: 40px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #FBD72B;
}